.allgames{
    display: flex;
    flex-wrap: wrap;
   gap: 25px;
}
.games{
    max-width: 120px;;
    max-height: 200px;;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    border: none;
    cursor: pointer;
    
    transition: transform 0.3s ease
}
.games:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 25px rgba(255, 255, 255, 0.8);
}
.gamesort{
   display: flex;
   color: rgb(214, 209, 209);
   height: 45px;
   width:calc(100% - 68px) ;
   font-family: Arial, Helvetica, sans-serif;
}
.hr{
    width:100%;
    margin-left: 20px;
    box-sizing: border-box;
}
.tumu{
    display: flex;
}